.card-img {
	opacity: 0.4;
}
div {
	/* border: black solid 1px; */
}
.card {
	width: 100%;
	height: 100%;
}
.col-lg-4 {
	padding: 0;
	margin: 0;
}
nav {
	width: 100%;
}

.col {
	margin-top: 2%;
}

.welcome {
	/* margin: 1%; */
	color: white;
	/* text-align: center; */
	width: 100%;
}

#login {
	background-image: url('planica.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
	width:100%;
	min-height:100%;
	text-align: center;
	padding:4%;
}

#register {
	background-image: url('planica.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
	width:100%;
	min-height:100%;
	text-align: center;
	padding:1%;
}

#login-card {
	max-width: 20rem;
	padding-bottom: 2%;
	margin: 0 auto;
	opacity: 0.9;
}

#welcome-login {
	padding: 1%;
	color: white;
}

html, body {
	height:100%;
}
.nav-link {
	font-size: large;
}
#social-feed {
	margin: 0;
	padding: 0;
}
#add {
	width:100%;
	min-height:100%;
	
	padding:1%;
}


#save-btn {
	margin: 1%;
}