<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add competition</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"	th:href="@{../css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/skijumping.css" th:href="@{../css/skijumping.css}" />
</head>
<body class="bg-dark">

	<div class="container-fluid">
		<div id="add" class="container">
			<div class="card">
				<div class="card-header">
					<h2>Add competition</h2>
				</div>
				<div class="card-body">
					<div class="form-group">
						<form th:object="${competition}" th:action="@{saveCompetition}"	action="#" method="post">
							<label for="id">ID</label> 
							<input type="text" id="id" th:field="*{id}" class="form-control" /> 
							
							<label for="hillList">Hill</label>
							<input list="hillList" th:field="*{hill}" class="form-control" />
							<datalist id="hillList">
								<option th:each="hill: ${hills}" th:value="${hill.id}"
										th:text="${hill.name + ', ' + hill.city}">
								</option>
							</datalist>
							
							<label for="date">Date</label>
							<input type="datetime-local" id="date" th:field="*{date}" class="form-control" /> 
							
							<label for="type">Type</label>
							<input type="text" id="type" th:field="*{type}" class="form-control" /> 
								
							<input type="submit" value="Save" id="save-btn" class="btn btn-success" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>