<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add results</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{../../css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/skijumping.css" th:href="@{../css/skijumping.css}" />
</head>
<body class="bg-dark">

	<div class="container-fluid">
		<div id="add" class="container">
			<div class="card">
				<div class="card-header">
					<h2	th:text="${'Add results for ' + competition.hill.city + ' HS' + competition.hill.hsPoint + ' ' + competition.type + ' (id: ' + competition.id + ')'}">
					Add	results</h2>
				</div>
				<div class="card-body">
					<div class="form-group">
						<form th:object="${result}" th:action="@{/saveResult}" action="#" method="post">
							<label for="competitionList">Competition</label> 
							<input type="text" th:field="*{competition}" th:value="${competition.id}" id="competitionList" class="form-control" /> 
							
							<label for="athleteList">Athlete</label>
							<input list="athleteList" th:field="*{athlete}"	class="form-control" />
							<datalist id="athleteList">
								<option th:each="athlete: ${athletes}" th:value="${athlete.id}"
										th:text="${athlete.firstName + ' ' + athlete.lastName}">
								</option>
							</datalist>
							
							<label for="jump1">Jump 1</label> 
							<input type="text" id="jump1" th:field="*{jump1}" class="form-control" /> 
							
							<label for="jump2">Jump	2</label> 
							<input type="text" id="jump2" th:field="*{jump2}" class="form-control" /> 
							
							<label for="points">Points</label> 
							<input type="text" id="points" th:field="*{points}" class="form-control" /> 
							
							<label for="position">place</label> 
							<input type="text" id="position" th:field="*{wcPoint.position}"	class="form-control" />

							<input type="submit" value="Save" id="save-btn"	class="btn btn-success"></input>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>