<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Athletes</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h2>Athletes</h2>
	<a class="btn btn-outline-warning" th:href="@{/addAthlete}">Add Athlete</a>
	<a class="btn btn-dark" th:href="@{/dashboard}">Dashboard</a>
	<table class="table">
		<thead class="table-info">
			<tr>
				<th>Name</th>
				<th>Nationality</th>
				<th>Birth year</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="athlete: ${athletes}">
				<td th:text="${athlete.firstName + ' ' + athlete.lastName.toUpperCase()}"></td>
				<td th:text="${athlete.nationality}"></td>
				<td th:text="${athlete.birthYear}"></td>
				<td><a class="btn btn-sm btn-info" th:href="@{/editAthlete/{id}(id=${athlete.id})}">Edit</a></td>
				<td><a class="btn btn-sm btn-outline-danger" th:href="@{/deleteAthlete/{id}(id=${athlete.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
</html>