<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Ski Jumping</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h1>Welcome</h1>
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log out" class="btn btn-outline-info"/>
		</form>
		<a class="btn btn-secondary" href="../athletes" th:href="@{../athletes}">Athletes</a>
		<a class="btn btn-secondary" href="../hills" th:href="@{../hills}">Hills</a>
		<a class="btn btn-secondary" href="../competitions" >Calendar</a>
		<!--<a class="btn btn-secondary" href="#">Results</a> -->
		<a class="btn btn-secondary" href="../standings" th:href="@{../standings}">World Cup Standings</a>

	</div>

</body>
</html>