<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Competition</title>
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Edit competition</h1>
	<div class="container">
	<div class="form-group">
		<form th:object="${competition}" th:action="@{../saveCompetition}" action="#" method="post">
		<input type="hidden" th:field="*{id}" />
			<label for="hillList">Hill</label>
			<select id="hillList" th:field="*{hill}" class="form-control">
				<option th:each="hill: ${hills}"
						th:value="${hill.id}"
						th:text="${hill.city + ' HS' + hill.hsPoint}"></option>
			</select>
			<label for="date">Date</label>
			<input type="date" id="date" th:field="*{date}" class="form-control" />
			<label for="time">Time</label>
			<input type="time" id="time" th:field="*{time}" class="form-control" />
			<label for="type">Type</label>
			<input type="text" id="type" th:field="*{type}" class="form-control" />
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	</div>

</body>
</html>