<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit standing</title>
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" /> 
</head>
<body>
	<h2>Edit standing</h2>
	<div class="container">
	<div class="form-group">
		<form th:object="${standing}" th:action="@{../saveStanding}" action="#" method="post">
			<input type="hidden" th:field="*{id}" />
			<label for="athleteList">Athlete</label>
			<input list="athleteList" class="form-control" th:field="*{athlete}"/><datalist id="athleteList">
				<option th:each="athlete: ${athletes}"
						th:value="${athlete.id}"
						th:text="${athlete.firstName + ' ' + athlete.lastName}"></option>
				</datalist>
			<label for="points">Points</label>
			<input type="text" id="points" th:field="*{points}" class="form-control" />
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	</div>

</body>
</html>