<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Athletes</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/skijumping.css" th:href="@{css/skijumping.css}" />
</head>
<body>
	
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
			<h1 class="welcome" th:text="${'Welcome, ' + name + '!'}">Welcome</h1>
	</div>
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
   				<ul class="navbar-nav mr-auto">
      				<li class="nav-item">
        				<a class="nav-link" href="/dashboard" th:href="@{/dashboard}">Dashboard</a>
      				</li>
     				<li class="nav-item">
        				<a class="nav-link" href="../athletes" th:href="@{../athletes}">Athletes</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="../hills" th:href="@{../hills}">Hills</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="../competitions" th:href="@{../competitions}">Calendar</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="../standings" th:href="@{../standings}">World Cup Standings</a>
      				</li>
    			</ul>
    			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
      				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Log out</button>
    			</form>
  			</div>
		</nav>
	
	<div id="fav" class="container-fluid bg-dark">
	<br />
	<div class="card">
				<div class="card-header">
	<h2>Athletes</h2>
	<a class="btn btn-outline-info my-2 my-sm-0" th:href="@{../athletes}">Back to Athletes</a></div>
	<div class="card-body">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th sec:authorize="hasAuthority('ADMIN')">ID</th>
				<th>Name</th>
				<th>Nationality</th>
				<th>Birth year</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="favAthlete: ${favAthletes}">
				<td sec:authorize="hasAuthority('ADMIN')" th:text="${favAthlete.athlete.id}"></td>
				<td th:text="${favAthlete.athlete.firstName + ' ' + favAthlete.athlete.lastName.toUpperCase()}"></td>
				<td th:text="${favAthlete.athlete.nationality}"></td>
				<td th:text="${favAthlete.athlete.birthYear}"></td>			
				<td><a class="btn btn-outline-danger" th:href="@{/deleteFromFav/{id}(id=${favAthlete.athlete.id})}">Delete from Favorites</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	
	<br />
		<div class="navbar">
			<p class="text-secondary">2018 &copy; Maria Żabińska</p>
			<p class="text-secondary">Need help? <a class="text-secondary" href="mailto:worldofskijumping@gmail.com">Send an email</a></p>
		</div>
	</div>
	
</body>
</html>