<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Hills</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/skijumping.css" th:href="@{css/skijumping.css}" />
</head>
<body>
	
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
			<h1 class="welcome" th:text="${'Welcome, ' + name + '!'}">Welcome</h1>
	</div>
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<!-- <h2 class="navbar-brand text-white" th:text="${'Welcome, ' + name + '!'}">Welcome</h2> -->
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
   				<ul class="navbar-nav mr-auto">
      				<li class="nav-item">
        				<a class="nav-link" href="/dashboard" th:href="@{/dashboard}">Dashboard</a>
      				</li>
     				<li class="nav-item">
        				<a class="nav-link" href="../athletes" th:href="@{../athletes}">Athletes</a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="../hills" th:href="@{../hills}">Hills <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="../competitions" th:href="@{../competitions}">Calendar</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="../standings" th:href="@{../standings}">World Cup Standings</a>
      				</li>
    			</ul>
    			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
      				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Log out</button>
    			</form>
  			</div>
		</nav>

	<div class="container-fluid bg-dark">
	<div class="card">
				<div class="card-header">	
	<h2>Hills</h2>
	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-outline-info" th:href="@{/addHill}">Add Hill</a>
	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-outline-info" th:href="@{/addRecord}">Add Hill Record</a></div>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th sec:authorize="hasAuthority('ADMIN')">ID</th>
				<th>Name</th>
				<th>Location</th>
				<th>Hill Size</th>
				<th>K-Point</th>
				<th>Built in</th>
				<th>Record</th>
				<th></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="hill: ${hills}">
				<td sec:authorize="hasAuthority('ADMIN')" th:text="${hill.id}"></td>
				<td th:text="${hill.name}"></td>
				<td th:text="${hill.city + ', ' + hill.country}"></td>
				<td th:text="${hill.hsPoint + ' m'}"></td>
				<td th:text="${hill.kPoint + ' m'}"></td>
				<td th:text="${hill.buildYear}"></td>
				<td th:if="${hill.hillRecord != null}" th:text="${hill.hillRecord.athlete.firstName + ' ' + hill.hillRecord.athlete.lastName.toUpperCase() + ', ' + hill.hillRecord.length + 'm in ' + hill.hillRecord.year}"></td>
				<td th:unless="${hill.hillRecord != null}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-info" th:href="@{/editHill/{id}(id=${hill.id})}">Edit Hill</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-danger" th:href="@{/deleteHill/{id}(id=${hill.id})}">Delete Hill</a></td>
				<td sec:authorize="hasAuthority('ADMIN')" th:if="${hill.hillRecord != null}"><a class="btn btn-outline-info" th:href="@{/editRecord/{id}(id=${hill.hillRecord.id})}">Edit Record</a></td>
				<td sec:authorize="hasAuthority('ADMIN')" th:unless="${hill.hillRecord != null}"></td>
				<td sec:authorize="hasAuthority('ADMIN')" th:if="${hill.hillRecord != null}"><a class="btn btn-outline-danger" th:href="@{/deleteRecord/{id}(id=${hill.hillRecord.id})}">Delete Record</a></td>
				<td sec:authorize="hasAuthority('ADMIN')" th:unless="${hill.hillRecord != null}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>

</body>
</html>