<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Hills</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h2>Hills</h2>
	<a class="btn btn-outline-warning" th:href="@{/addHill}">Add Hill</a>
	<a class="btn btn-dark" th:href="@{/dashboard}">Dashboard</a>
	<table class="table">
		<thead class="table-secondary">
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>Hill Size</th>
				<th>K-Point</th>
				<th>Built in</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="hill: ${hills}">
				<td th:text="${hill.name}"></td>
				<td th:text="${hill.city + ', ' + hill.country}"></td>
				<td th:text="${hill.hsPoint + ' m'}"></td>
				<td th:text="${hill.kPoint + ' m'}"></td>
				<td th:text="${hill.buildYear}"></td>
				<td><a class="btn btn-sm btn-info" th:href="@{/editHill/{id}(id=${hill.id})}">Edit</a></td>
				<td><a class="btn btn-sm btn-outline-danger" th:href="@{/deleteHill/{id}(id=${hill.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
</html>